body {
    margin:0;
    padding: 0;
    font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:16px;
    color: #FFFFF7;
    background-color: #FFFFF7
}

a:link {
    color: #151B54;
    text-decoration:none;
}
a:visited {
    color: #151B54;
    text-decoration:none;
}
a:hover {
    color: #2B1B17;
    text-decoration:none;
}
a.menu {
    text-decoration: none;
    color: #151B54;
    font: bold 1.1em/1.1em sans-serif, arial, verdana; 
}

a.menu_light:link, a.menu_light:visited {
    text-decoration: none;
    color:#ff7f00;
    font: bold 1.2em/1.2em sans-serif, arial, verdana; 
    text-shadow: -.7px 0 #fff7e5, 0 .7px #fff7e5, .7px 0 #fff7e5, 0 -.7px #fff7e5;
}

a.menu_light:hover {
    text-decoration: none;
    background-color:#ff7f00;
    color: #FFFFF7;
    text-shadow: -.7px 0 #151B54, 0 .7px #151B54, .7px 0 #151B54, 0 -.7px #151B54;
}


a.content {
    text-decoration: none;
}

a.menu:hover, a.content:hover {
    text-decoration: none;
    color: #151B54;
    background-color: #FFFFF7;
}

img.email {
	margin: no;
	padding: no;
	border: none;	
	vertical-align: middle;
}

div.banner {
    position: relative;
    left: 28%; 
    top: .4in;
    border: 0;
    margin: 0in;
    padding: 0.1in;
}


div.banner img{
    border: 0;
    width: 600px;
    height: 300px;
}

div.banner abbr {
    text-decoration: none;
    border:0;
}


div.menu {
    position: relative;
    left: 28%; 
    width: 600px;
    border: 0;
    margin: 0in;
    padding: 0in;
    text-align: right;
}

div.content {
    position: relative;
    left: 28%;  
    top: .2in; 
    width: 6.35in;
    background-color: #FFFFF7
    border: 0.01in solid #345;
    margin: 0in;
    padding: 0.05in;
}

div.content h1 {
    font: bold 2em/1.3em sans-serif, verdana;
    text-align: center;
    color:#E18B6B;
    margin: 0;
    padding: .3in;
    background: url(images/section_bg.gif) no-repeat center 0 transparent;
}

div.content h2 {
    font: bold 1.4em/1.5em sans-serif, verdana;
    color:#E18B6B;
    margin: .1em 0em;
    padding: 0in;
}       

div.content h3 {
    font: bold 1.3em/1.3em sans-serif, verdana;
    color:#E18B6B;
    margin: 0;
    padding: 0;
}

div.content p {
    font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:16px;
    color:#484e51;
    margin: 0.15in;
    line-height: 120%;
}

div.content img{
    float: right;
    background:transparent;
}


div.content ul img {
    float: left;
    margin: .2em;
    border: none;
}


  
div.content li {
    font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:16px;
    color:#484e51;
    margin: .5em 0em;
    padding: 0em;
}

div.content b {
    font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:16px;
    font-weight: bold;
    color:#484e51;
    margin: .5em 0em;
    padding: 0em;
}

div.content li p {
   font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size:16px; 
    color: #fff;
    margin: .5em 0em;
    padding: 0em;
}


div.content .footer {
    margin-top: .5in;
    height: .5in;
}

div.content .footer p {
    font: .8em/0em  arial, verdana, sans-serif;
    text-align: center;
    color:#484e51;
    padding: 0in;
}

ul { 
    list-style-type: circle; 
} 
